<html>
    <head>
        <title>ImitateDB</title>
        <link rel="icon" type = "image/jpg" href="/images/favicon.jpg">
        <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="/css/layouts.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        
        <%- style %>
        
        
    </head>
    <body>
        <div id = "page-container">
            <div>
                <%- include('_header'); %>
            </div>
            
            <%- body %>
    
            <div>
                <%- include('_footer'); %>
            </div>
            
        </div>


        
        
        <script>
            
            <% if(locals.notification && notification.length>0) { %>
                new Noty({
                    type:'<%= messageType %>',
                    text: "<%= notification %>",
                    timeout:1500,
                    theme: 'nest',
                    layout: 'topRight',
                }).show()
            <% } %>

        </script>

    <script type="text/javascript"src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        
    <%- script %>

        
    </body>
</html>
