
    
        <link rel="stylesheet" href="/css/QueryPage.css">
    
        <div class = "container">
            <%- include('_queryForm') %>
            <button class="openbtn"  onclick="openNav()">&#9776; </button>
            
            <div id = "MainRes" >
            
                <!-- Add condition to keep table hidden if empty set -->
            <% var minValue = Math.min(2000,rows.length) %>
            <% if(minValue!=0){ %>
                <div>
                    <span>
                        <h5>Showing <%= minValue %> of <%= rows.length %> records</h5>
                    </span>
                    <span>
                        <% if( ColumnName  == null || ColumnValues == null ){ %>
                            <h5>Showing all values</h5>
                        <% } else {%>
                        <h5>Values for Column = <%=ColumnName%>, Values = <%=ColumnValues%> </h5>
                        <% } %>
                    </span>

                </div>
                <div>

                    <table id = "ResultTable">
                        <tr>
                            <% for(column of columns){ %>
                                <th>
                                    <%= column %>
                                </th>
            
                           <% } %>
                        </tr>
            
                        <% for(let i = 0; i<minValue ; i++){ %>
                            <tr>
                                <% for(value of Object.values(rows[i])){ %>
                                    <td>
                                        <%= value%>
                                    </td>
            
                                <% } %>
                            </tr>
                        <% } %>
                    </table>
            

                </div>
            <% }else{ %>
                <h4><%= message %></h4>
            <% } %>
        
            </div>

           
            
    
            

        </div>

        <script type = "text/javascript" src = "/js/sidePanel.js"></script>

        
        
        