
    
        <link rel="stylesheet" href="/css/QueryPage.css">
    
        <div class = "container">
            <%- include('_queryForm') %>
            <button class="openbtn"  onclick="openNav()">&#9776; </button>
            
            <div id = "MainRes" >
            
                <!-- Add condition to keep table hidden if empty set -->
            
            <% if(rows.length!=0){ %>
                <div id = "dataInfo">
                    <div id = "info">
                        <span>
                            <h5>Showing <%= rows.length %> of <%= TableLength %> records</h5>
                        </span>
                        <span>
                            <% if( ColumnName  == null || ColumnValues == null ){ %>
                                <h5>Showing all values</h5>
                            <% } else {%>
                            <h5>Values for Column = <%=ColumnName%>, Values Entered = <%=ColumnValues%> </h5>
                            <% } %>
                            <% if(valuesNotPresent.length) {%>
                             <h5 >Entries not found for = <span style = "color: crimson;"> <%= valuesNotPresent %> </span></h5>   
                            <% } %>
                        </span>
                    </div>
                    
                    <div id = "DownloadQueryData">
                        <a href="/query/getCSVData"><i class="fas fa-file-excel" id = "getCSV"></i></a>
                        

                    </div>

                </div>
                <div>

                    <table id = "ResultTable">
                        <tr>
                            <% for(column of columnsForDisplay){ %>
                                <th>
                                    <%= column %>
                                </th>
            
                           <% } %>
                        </tr>
            
                        <% for(let i = 0; i<rows.length ; i++){ %>
                            <tr>
                                <% for(column of columns){ %>
                                    <td>
                                        <%= rows[i][column]%>
                                    </td>
            
                                <% } %>
                            </tr>
                        <% } %>
                    </table>
            

                </div>
            <% }else{ %>
                <h4><%= message %></h4>
            <% } %>
        
            </div>

           
            
    
            

        </div>

        <script src="https://kit.fontawesome.com/649bd7dfb2.js" crossorigin="anonymous"></script>
        <script type = "text/javascript" src = "/js/sidePanel.js"></script>

        
        
        